html {
    font-size: 16px;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;

}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    max-width: 20rem;
    width: 100%;
    padding: 2.5rem;
    background: #ffffffe6;
    border-radius: 0.7rem;
    box-shadow: 0 0.6rem 2rem #d0d0d0;
    animation: fadeIn 1.5s ease-out;
}

.inicio {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.mensaje {
    background-color: #e0466d63;
    text-align: center;
    color: #e32323;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}

.verificacion {
    color: #161616;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.input-group {
    position: relative;
    margin-bottom: 1rem;
}

.input-group .label {
    position: absolute;
    top: -1rem;
    left: 12px;
    font-size: 12px;
    color: #309a40;
    font-weight: 600;
    transition: all 0.3s ease;
    opacity: 0.7;
}

.input-group input {
    width: 17rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    color: #333;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: #309a40;
    box-shadow: 0 0 10px #58bc8266;
}

.input-group input:focus + .label {
    top: -20px;
    font-size: 11px;
    color: #309a40;
    opacity: 1;
}

.pass {
    text-align: right;
    margin-bottom: 20px;
}

.pass a {
    font-size: 14px;
    color: #58bc82;
    text-decoration: none;
    transition: color 0.3s ease;
}

.pass a:hover {
    color: #45a56b;
}

.submit {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem 2.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #0d0d0d;
    border: 2px solid #41c698;
    background: transparent;
    border-radius: 30px;
    overflow: hidden;
    text-transform: uppercase;
    cursor: pointer;
}

.submit::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #41c698;
    transform: translateX(-50%) scale(0);
    transform-origin: center bottom;
    transition: trasform 1s ease, width 1s ease, height 1s ease;
    z-index: -1;
}

.submit:hover::before {
    width: 300%;
    height: 180%;
    transform: translateX(-50%) scale(1);
}

.submit:hover {
    color: #000;
}

.signun-link a {
    color: #58bc82;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.signun-link a:hover {
    color: #45a56b;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
