html{
    font-size: 16px;
}

body {
  background-color: #0d0d0d;
  border: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.lateral {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
}

.lateral-izquierdo {
    background-color: #0d0d0d;
    width: 20%;
    padding: 1rem;
}

.lateral-derecho {
    background-color: #0d0d0d;
    width: 80%;
    padding: 1rem;
}

.menu {
    width: 100%;
}

.indice {
    padding: 0.6rem 0;
    margin: 0.6rem;
    color: #eeeeff;
    background-color: black;
    border-radius: 1.8rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 90%;
}

nav .barra {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: auto;
    width: 90%;
}

li {
    cursor: pointer;
    font-weight: bold;
}

nav .barra li {
    display: inline-block;
    margin: 0 1rem;

}

img {
    border-radius: 50%50%50%0;
}

details {
    position: relative;
}

summary{
    list-style: none;
    cursor: pointer;
}

details[open] a.despliegue {
    display: block;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeff;
    font-size: 13px;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

a {
    position: relative;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    padding: 0 0.6rem;
}

a::after {
    content: "";
    position: absolute;
    background-color: #45a56b;
    height: 0.2rem;
    width: 0;
    left: 0;
    bottom: -0.25rem;
    transition: 0.4s;
}

a:hover {
    color: #fff;
}

a:hover::after {
    width: 100%;
}

details a.despliegue:hover {
    background-color: #2f7f50;
}

section {
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 30vh;
}

main {
    flex: 1;
}

.contenido {
    padding: 1rem 0.5rem;
    margin-top:  1rem;
    border: none;
    text-align: start;
    flex: 1;
}

.imagen-efecto {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

article {
    position: relative;
    width: 250px;
    transition: all 0.3s ease;
}

article img:first-child {
    box-shadow: 0 60px 60px -60px rgba(208, 7, 34, 0.733);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

article img:last-child {
    position: absolute;
    width: 250px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: 0.3s ease;
    opacity: 0;
}

article:hover {
    transform: perspective(250px) rotateX(5deg) translateY(-5%) translateZ(0);
}

article::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0) 95%);
    opacity: 0;
    transition: all 0.3 ease;
}

article:hover::before {
    opacity: 1;
}

article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

h2 {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eeeeff;
}

.imagen-transicion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    position: relative;
}

.div {
    width: 60%;
    height: 60vh;
    opacity: 1;
    box-shadow:0 3.5rem 3.5rem -3.5rem rgba(215, 12, 63, 0.682);
    animation: slider 20s linear infinite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3rem;
    border-radius: 1.5rem;
}

footer {
    background-color: #eeeeff;
    text-align: center;
    color: #040404;
    margin-top: 4rem;
    border-top: none;
}

.espacio {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.email .facebook .insta .what{
    transition: color 0.4s, transform 0.4s;
}

.email:hover {
    transform: scale(1.2);
    box-shadow: 0 0 0.60rem #666666;
}

.facebook:hover {
    transform: scale(1.2);
    box-shadow: 0 0 0.60rem #2023dc;
}

.insta:hover {
    transform: scale(1.2);
    box-shadow: 0 0 0.60rem #ff6b6b;
}

.what:hover {
    transform: scale(1.2);
    box-shadow: 0 0 0.60rem #90e0ef;
}

@keyframes slider {
    0%{
        background-image:url(imagen/amanecer.jpg) ;
    }
    30%{
        background-image:url(imagen/arbol.jpg);
    }
    60%{
        background-image:url(imagen/anochecer.jpg) ;
    }
    100%{
        background-image:url(imagen/estrellado.jpg) ;
    }
}

@media(max-width: 800px) {
    .div{
        width: 85%;
        height: auto;
        min-height: 50vh;
        justify-content: center;
    }

    .imagen-transicion {
        width: 100%;
        min-height: 50vh;
    }

    a::after {
    background-color: #ff6b6b;
    }

    a:hover {
        color: #ff6b6b;
    }

    details a.despliegue:hover {
    background-color: #ff6b6b;
    }

    .lateral {
        flex-direction: column;
    }

    .menu {
        width: 95%;
    }

    .indice {
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        width: 95%;
    }

    nav .barra {
        flex-direction: column;
        width: 100%;
        gap: 0.6rem;
    }

    .menu .indice {
        background-color: #162e16b9;
        border-radius: 1rem;
    }

    .imagen-efecto img {
        max-width: 100%;
        height: auto;
    }

    .lateral-derecho {
        width: 100%;
        padding: 1rem;
    }

    .imagen-efecto {
        width: 85%;
        justify-content: center;
    }

    .lateral-izquierdo {
        width: 100%;
        padding: 0.5rem;
        text-align: center;
    }

    .espacio {
        width: 100%;
        text-align: center;
    }
}